
@import "./var";

@include setScrollStyle;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif, "microsoft-yahei";
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
ol {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img {
  border-style: none;
}

.text-left{
  text-align: left !important;
}
.text-center{
  text-align: center !important;
}
.text-right{
  text-align: left !important;
}