@import "./var";

@include setScrollStyle;

@include importIcon;

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif, "microsoft-yahei";
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  margin: 0;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body,
ol {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img {
  border-style: none;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: left !important;
}
.markdown-body li{
  list-style: initial;
}
.markdown-body ol li{
  list-style: decimal;
}
.tiny-btn {
  user-select: none;
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 28px;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 12px;
  font-size: 12px;
  text-align: center;
  margin-left: 80px;
  margin-right: 90px;
  cursor: pointer;
  color: #999;
  transition: all .2s;

  &:hover {
    color: #4fc08d;
    border-color: #4fc08d;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 49%;
    right: 101%;
    height: 1px;
    width: 80px;
    background-color: #eee;
  }

  &::after {
    right: auto;
    left: 101%;
  }

  &.right {
    &::before {
      display: none;
    }

    margin-left: 0;
  }

  &.left {
    &::after {
      display: none;
    }

    margin-right: 0;
  }

  &.small {
    height: 22px;
    line-height: 20px;
  }

  &.none {

    &::before,
    &::after {
      display: none;
    }
    margin-left: 0;
    margin-right: 10px;
  }
}